.container {
  margin-top: 50px;
}

.tableContainer {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
}

.tableContainer tr {
  font-size: inherit;
  text-transform: inherit;
}
