.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  border: 0;
  border-radius: 10px;
  padding-block: 10px;
  padding-inline: 20px;
  cursor: pointer;
}

.defaultColor {
  background-color: var(--primary);
}

.errorColor {
  background-color: var(--error);
  padding-inline: 70px;
}

.text {
  color: white;
  font-weight: 500;
}
