.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  padding: 30px;
}

.container svg {
  flex: 1;
}

.container h1 {
  font-size: 24px;
  text-align: center;
}

.textDescription {
  flex: 1;
  text-align: center;
  margin-top: 20px;
}
