.container {
  flex: 5%;
  background-color: var(--primary);
  min-width: 100px;
}

.navUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.secondIcon {
  margin-top: 80px;
}