@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

ul {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --primary: #462bb8;
  --light-blue: #50b5ff;
  --text: #44444f;
  --input-label: #626262;
  --input-placeholder: #a5a5a5;
  --heading: #171717;
  --table-data: #5a5a5a;
}
