@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --primary: #462BB8;
  --light-blue: #50B5FF;
  --text: #44444F;
  --input-label: #626262;
  --input-placeholder: #A5A5A5;
}